footer {
    font-size: 100%;
    display: none;
    flex-direction: column;
    position: relative;
    align-items: center;
    text-align: center;
}
footer img{
   width: 100px;
   height: 100px; 
   align-self: center;
}
