* {
    font-family: 'Roboto', sans-serif;
        text-decoration: none;
  }
  body {
    width: 90%;
   margin: auto;
   font-family: 'Roboto', sans-serif;
  }

  h1 {
      font-size: 28px;
  }
  
.menu{
    text-transform: uppercase;  
    background-color: #AACE9B;
  }

header ol ul{
    background-color: #AACE9B;
    display: block;
	list-style: none;
}
#menubuttons {
	margin:10px;
	width:900px;
	font-family: sans-serif;
}
#menubuttons li {
	display:block;
	width:120px;
	float:left;
	margin-left:2px;
	border:1px solid #000;
}

#menubuttons a {
	display:block;
	padding:3px;
	text-decoration:none;
	background-color:#fff;
	color:#009;
}

#menubuttons     a:hover {
	background-color:#009;
	color:#fff;
}
.sidebar li {
      background-color: #AACE9B;
      padding: 5px;
  }
.content {
    background-color: #AACE9B;
    border-style: hidden;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
text-align: center;
width: 50%;
padding: 50px;
}

#ourjob {
    background-image: image(#clock);
}
#tools li {
    background-image: linear-gradient(to right, #539E7D , white);

}

.footer {
font-family: Verdana, Geneva, Tahoma, sans-serif;   
  }

.menu {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}