
header {
	display:flex;
		text-transform: uppercase;  
		background: linear-gradient(#529E7C, #ffffff);    border: none;
		font-size: 20px;
		justify-content: space-around;
}
ul {
	padding: 0;
	margin: 0;
	display: flex;
}


h1, h2{
	display: flex;
	flex-direction: column;
}

.menu-buttons
{
	color: #529E7C;
}