	h1, h2 {
		margin-bottom: 15px;
		display: flex;
	}
#logo {
	font-size: 100%;
}
#subtitle {
	font-size: 70%;
}
.logos {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

.principal{
	height: 100%;
	margin: 0 auto;
	padding: 0 10px;
	border: none;
	display: flex;
	justify-content: space-around;
	align-items: center;	
}	
.principal:first-child {
	align-content: center;
}
nav {
	background: linear-gradient(#529E7C, #ffffff);
}
header a{
	color: white;
	font-size:60%;
	font-weight: bold;
}
header ul {
display: flex;
	}

header ul li {
	margin-left: 20px;
}

header .principal {
display: flex;
}