
header {
	height: 100%;
	width: 100%;
	font-weight: bolder;
}
nav.principal{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	border: none;
	background: linear-gradient(#529E7C, #8a8a8a);
}	
.logos{
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
align-items: start;
position: relative;
}
 .menu-buttons {
	 text-transform: uppercase;
	 display: flex;
	 flex-direction: row;
	 justify-content: space-evenly;
	 position: relative;
}
nav a {
		color: white;
		font-weight: bold;
		font-size: 100%;
}
nav ul li {
	justify-content: space-evenly;
	list-style: none;
	margin-left: 40px;
}