h3 {
    font-size: 20px;
    display: flex;
    flex-direction: center;
    justify-content: center;
}
.functions {
display: flex;
justify-content: space-around;
}

.ourjob {
    background: #AACE9B;
    display: flex;
    flex-direction: column;
    border-radius: 0px;
    margin: 0 10%;
    padding: 5%;
    align-items: center;
}
.functions {
    background: #AACE9B;
    display: flex;
    border-radius: 10px;
    margin: 10%;
    padding: 5%;
    flex-direction: column;
    align-items: center;
}
.functions:nth-child(2) {
    color: red;
}
.benefits {
    background: #AACE9B;
    display: flex;
    border-radius: 10px;
    margin: 10%;
    padding: 5%;
    flex-direction: column;
    align-items: center
}
.aboutus {
    background: #AACE9B;
    display: flex;
    border-radius: 10px;
    margin: 10%;
    padding: 5%;
}
.aboutus {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.contactus {
    background: #AACE9B;
    display: flex;
    border-radius: 10px;
    margin: 10%;
    padding: 5%;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
}

.features {
    background: #AACE9B;
    display: flex;
    border-radius: 10px;
    margin: 10%;
    padding: 5%;
    flex-direction: column;
    justify-content: start;
    align-items: center
}