.content {
    background-color: #AACE9B;
    width: 50%;
    padding: 50px;
    float: center;
    border-style: hidden;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    text-align: center;
}

#clock {
    position: static;
    top: 120px;
    right: 270  px;
    width: 120px;
    height: 200px;
}

#tools li {
    background-image: linear-gradient(to right, #539E7D , white);
    width: 50px;
    height: 200px;
    float:center ;
    padding: auto;
    margin: 0 10px; display:inline-table;
    text-align: center;
}

.sitemap ol {
    background-image: linear-gradient(to right, #539E7D , white);
    width: 70px;
    height: 150px;
    padding: 20px;
    text-align: center;
    position: relative;
    float: none;
}