
.ourjob {
    height: 100%;
    width: 50%%;
    background: #AACE9B;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    margin: 0 10%;
    padding: 5%;
    align-items: center;
    text-align: center;
}
.ourjob img{
}
.functions {
    background: #AACE9B;
    display: flex;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 70%%;
    margin: 5% 10%;
    padding: 5%;
    align-items: center;
    text-align: center;
}
.benefits{
    height: 100%;
    width: 70%%;
    margin: 5% 10%;
    padding: 5%;
    background: #AACE9B;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    border-radius: 20px;
}
.benefits ul{
    list-style:lower-alpha;
    text-align: center;
}
.aboutus {
    background: #AACE9B;
    border-radius: 20px;
    height: 100%;
    width: 70%%;
    margin: 5% 10%;
    padding: 5%;
}
.aboutus {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contactus {
    background: #AACE9B;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    height: 100%;
    width: 70%%;
    margin: 5% 10%;
    padding: 5%;
    align-items: center;    
    justify-content: start;
    text-align: justify;
}
.sitemap {
    background: #AACE9B;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 10px;
    margin: 10%;
    padding: 5%;
    align-items: center;
}
.sitemap {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sitemap div{
    width: 70%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    padding: 1%;
    display: flex;
    flex-direction:column;
    font-weight: bold;}
.sitemap ol{
    list-style: lower-latin;
    display: flex;
    flex-direction: column;
}

.sitemap {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


}