aside {
    display: flex;
    position: flex;
    flex-direction: column;
    width: 100px;
    height: 100%;
    margin-right: 10px;
    padding-top: 0px;
    text-transform: uppercase;  
    font-size: 70%;
    background: linear-gradient(to bottom,  #49A37B,  #add6c4);
}
aside a{
    padding:3px;
    text-decoration:none;
    background: linear-gradient(#529E7C, #ffffff);
    color:rgb(0, 0, 0);
    display:block;
}
aside a:hover {
    background-color:#4CAF50;
    color:rgb(255, 255, 255);
}